.ellipsis {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.brand-logo{
  height:30px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align: middle;
}

.fancy-checkbox label{
  margin-bottom:0;
}
.btn span:first-child{
  margin-right: 0;
}

.custom-panel-body{
  padding:0 !important;
}

.preloader-cog{
  width:100%;
  text-align:center;
}

.message-display{
  position: fixed;
  top:70px;
  right:20px;
  z-index: 10
}

.barcode-scanner label input[type="text"] {
  font-size:30px;
}

.multi-forms{
  width:300px;
}
@media (max-width:900px){
  .multi-forms{
    width:100%;
  }
}
.multi-forms input[type="submit"],.multi-forms button{
  color:white;
}
.multi-forms input{
  margin-bottom:10px;
}

.office-tbilisi{
  border-left:15px solid #41B314 !important;
}

.office-kutaisi{
  border-left:15px solid #e4cb10 !important;
}

.office-unknown{
  border-left:15px solid #e40012 !important;
}

#copy-users-preloader{
  display: none;
}

tr.edit-users td{
  white-space: nowrap;
}

.edit-user-data,
.edit-package-data{
  color:#929598;
  background: repeating-linear-gradient(-55deg,#222,#222 10px, #333000 10px,#333000 20px);
}

.sidebar .submenu {
  min-width:300px;
}

.sidebar-minified .sidebar .nav > li > a > span {
  min-width:301px;
}