/*////////////////////////////////*/
/*//////[ FONTS & IMPORT ]////////*/

@font-face {
    font-family: 'BPG_GEL_Excelsior';
    src: url('../fonts/BPG_GEL_Excelsior.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG_GEL_Excelsior_Caps';
    src: url('../fonts/BPG_GEL_Excelsior_Caps.ttf');
    font-weight: normal;
    font-style: normal;
}

/*//////[ FONTS & IMPORT ]////////*/
/*////////////////////////////////*/

body{
  font-family: 'BPG_GEL_Excelsior';
  font-size:13px;
}

main {
  min-height: calc(100vh - 422px);
}

.clear{
    clear:both;
}

.test-div {
    width: 30px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: scroll;
    transition: all 100ms;
    z-index: 11;
    box-shadow: 0 0 15px #000;
    background: #fff;
}

.test-div:hover {
    width: 40%;
}

.test-pre {
    font-size: 10px;
    top: 0;
    left: 0;
    width: auto;
    display: block;
    overflow: hidden;
}

.caps{
  font-family: 'BPG_GEL_Excelsior_Caps';
}

.navbar{
  font-family: 'BPG_GEL_Excelsior_Caps';
  font-size:14px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-weight: 300;
}

.h4{
  font-family: 'BPG_GEL_Excelsior_Caps';
}
.nav-link{
  color:#e8e8e8;
}

.container {
  max-width: 1400px;
}

.login{
  margin-top:50px;
}
.account{
  margin-top:50px;
}
.tariff-table{
  margin-top:16px;
}

.flight-table th,
.tariff-table th{
  font-weight: normal;
}

.nav-item.dropdown.show{
  background:#e8e8e8;
  padding: 20px;
}
.nav-item.dropdown,
.login-register-top-menu-btn{
  padding: 20px;
}

.login-register-top-menu-content{
  width:440px;
}
@media(max-width:991px){
  .login-register-top-menu-content{
    width:auto;
  }
}

.login-register-top-menu-content .login{
  margin-top:0;
  border:0 !important;
}
.main-navbar{
  padding-top:0;
  padding-bottom:0;
}

.dropdown-menu{
  font-size:13px;
}

/*/////////////////////////////////*/
/*///////////[ CAROUSEL ]//////////*/
.carousel{
  margin-top:50px;
}

.carousel-item{
  height: 418px;
}
/*///////////[ CAROUSEL ]//////////*/
/*/////////////////////////////////*/


/*/////////////////////////////////*/
/*///////////[ FOOTER ]//////////*/
.unique-color-dark {
  background-color: #1c2331!important;
  color:white;
}

.footer-copyright{
  overflow: hidden;
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
}


.pt-4, .py-4 {
    padding-top: 3.5rem!important;
}
/*/////////////////////////////////*/
/*///////////[ FOOTER ]//////////*/


/*/////////////////////////////////*/
/*///////////[ MESSAGES ]//////////*/

.message-display{
  width:200px;
  position: fixed;
  top:76px;
  right:20px;
  z-index: 10
}
/*///////////[ MESSAGES ]//////////*/
/*/////////////////////////////////*/


/*/////////////////////////////////*/
/*///////////[ account ]//////////*/
.balance-view{

}

.profile-image{
  height: 100px;
  width:100px;
  margin-right:20px;
  border-radius:100%;
}

.profile-image-small{
  height: 20px;
  width: 20px;
  margin-right:10px;
  border-radius: 100%;

}

.balance{
  font-size:14px;
  font-weight: bold;
}

.user-menu-items,
.card-body{
  font-family: 'BPG_GEL_Excelsior_Caps';
}

.user-menu-items a{
  color:rgba(0,0,0,0.8);
  text-decoration: none;
}
.user-menu-items a li i{
  font-size:17px;
}
.user-menu-items a:hover{
  color:rgba(0,0,0,1);
  text-decoration: none;
}
.user-menu-items a:hover li{
  background: #eaeaea;
}

.user-menu-items .user-menu-background{
  background: #f8f8f8 !important;
}
.btn-logout{
  position: relative;
  top:6px;
}
/*///////////[ account ]//////////*/
/*/////////////////////////////////*/



/*/////////////////////////////////*/
/*///////////[ SHOPS ]//////////*/
.shops-title{
  font-family: 'BPG_GEL_Excelsior_Caps';
}

.shop{
  border:0;
}

.shop-img{
  height:200px;
  position:relative;
  border:1px solid #ccc;
  border-radius:5px;
  overflow:hidden;
}

.shop-img img{
  position:absolute;
  width:100%;
  height: auto;
  top:50%;
  transform:translateY(-50%);
}

.video-title{
  font-family: 'BPG_GEL_Excelsior_Caps';
}

/*///////////[ SHOPS ]//////////*/
/*/////////////////////////////////*/


/*/////////////////////////////////*/
/*///////////[ FLIGHTS ]//////////*/

.flight-table,
.schedule-title{
  font-family: 'BPG_GEL_Excelsior_Caps';
}

/*///////////[ FLIGHTS ]//////////*/
/*/////////////////////////////////*/

/*/////////////////////////////////*/
/*///////////[ CONTACT ]//////////*/
.contacts-container{
  padding-left:0;
  padding-right:0;
}
.contact-title,
.caps-font{
  font-family: 'BPG_GEL_Excelsior_Caps';
}

/*///////////[ CONTACT ]//////////*/
/*/////////////////////////////////*/

/*/////////////////////////////////*/
/*///////////[ PACKAGES ]//////////*/
.package-main-container{

}
.package-main-container .badge{
    font-family: 'BPG_GEL_Excelsior_Caps';
    font-size:11px;
    font-weight:normal;
}
.package{
    background:white;
}

.package-inner{
    border-radius:3px;
    padding:15px 0;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    position:relative;
}

.add-item-form input,
.add-item-form select,
.add-item-form .btn{
    font-size:13px !important;
}
.add-item-form .file-select{
    padding:8px 8px 8px 8px;
}


.product-image{
    height:150px;
    width:150px;
    margin:0 15px;
    border:1px solid #eaeaea;
    border-radius:7px;
}

.declar-form-container{
    padding:15px;
    display: none;
}

#selected-image-container{
    border-radius:7px;
}

.package-flight-heading{
    background: #818181;
    color:white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding:5px 15px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ce9a00;
    background-color: #ffc107;
}

.package-footer .btn{
    margin:5px 0;
}

.hidden-label{
    display: none;
}

.file-select-label{
    position:relative;
    top:50%;
    left:0;
    transform:translateY(-50%);
    display:block;
}
/*///////////[ PACKAGES ]//////////*/
/*/////////////////////////////////*/


.dim-form{
    position:absolute;
    background:rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:3px;
}

.balance-form {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.1);
    background: #fff;
    border-radius:5px;
    padding-top:15px;
}

.border-1{
    border:1px solid #dee2e6;
    border-top:0;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.padding-custom-15{
    padding:15px;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

.agree-rules{
    position:relative;
    top:4px;
}

.form-control,.btn-file{
    font-size:13px;
}

.select-in-case-of-entrepreneur-container{
    position:relative;
    padding: 30px 0;
}
.select-in-case-of-entrepreneur{
    position:absolute;
    top:45%;
    left:40px;
    transform:translateY(-50%)  ;
    white-space: nowrap;
}

@media(max-width:1195px){
    .select-in-case-of-entrepreneur {
        top: 25%;
    }
}

.select-in-case-of-entrepreneur label{
    top:-2px;
}